<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>Home</title>
</head>
<body class="container">
    <div class="row mt-1 text-dark" style="font-size: 18px">
        <div class="col-6 px-0">
            <h4 class="d-inline-block px-4 py-2 bg-gradient text-center text-white rounded rounded-4 mt-2">Pay My Buddy</h4>
        </div>
        <div class="col px-0">
            <nav class="navbar navbar-expand-lg navbar-light text-secondary">
                <div class="container-fluid px-0">
                    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item mx-3">
                                <a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link" th:href="@{/transfer}">Transfer</a>
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link" th:href="@{/profile}">Profile</a>
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link" th:href="@{/contact}">Contact</a>
                            </li>
                            <li class="nav-item mx-3">
                                <a class="nav-link" th:href="@{/login?logout}">Log Off</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col bg-light">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Transfer</li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="w-75 mx-auto container px-2">
        <div class="row my-3">
            <div class="col-6 alert alert-success" role="alert" th:text="${success}" th:if="${success}"></div>
            <div class="col-6 alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
        </div>
            <div class="row mt-4">
                <div class="col-3 px-0">
                    <p>Send Money</p>
                </div>
                <div class="col"></div>
                <div class="col-3 d-flex flex-row-reverse px-0">
                    <button class="btn btn-primary rounded rounded-3"data-bs-toggle="modal" data-bs-target="#connectionModal" data-bs-whatever="@mdo">Add Connection</button>
                    <div class="modal fade" id="connectionModal" tabindex="-1" aria-labelledby="connectionModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="connectionModalLabel">Add a new connection</h5>
                                    <button type="button" id= "close" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="add-connection">
                                        <div class="mb-3">
                                            <label for="email" class="col-form-label">Email:</label>
                                            <input type="email" class="form-control" id="email">
                                        </div>
                                        <div>
                                            <p id="errors" class="text-danger"></p>
                                        </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <form class="px-0 mx-0" action="#" th:action="@{/home}" method="post" th:object="${transaction}">
            <div class="row bg-light p-5 d-flex flex-between">
                <div class="col-1"></div>
                <div class="col">
                    <input class="d-none" th:field="*{type}" th:value="'payment'"/>
                    <select id="connection" name="connection" class="form-select border border-dark border-2" aria-label="Select a connection"
                            th:field="*{payedUser}">
                        <option selected value="0">Select a connection</option>

                        <div th:each="user: ${addedUsers}">
                            <option th:value="${user.getId()}"><span th:text="${user.firstName}"></span></option>
                        </div>
                    </select>
                    <div class="text-danger p-1" th:if="${#fields.hasErrors('payedUser')}" th:text="${error}"th:errors="*{payedUser}"></div>
                </div>
                <div class="col ">
                    <input type="text" id="amount" name="amount" th:field="*{amount}" class="form-control border border-2 border-dark w-75" placeholder="0€"/>
                    <div class="text-danger p-1" th:if="${#fields.hasErrors('amount')}" th:text="${error}"th:errors="*{amount}"></div>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-success text-white w-75" id="collapse-button"
                            data-bs-toggle="collapse" data-bs-target="#collapse" aria-expanded="false" aria-controls="collapse">Pay</button>
                    <button type="submit" class="btn btn-success text-white w-75" style="background-color: #5cb95c" id="pay-button">Pay</button>
                </div>
                <div class="col-1"></div>
            </div>
            <div class="collapse row bg-light p-5" id="collapse">
                <div class="col-1"></div>
                <div class="col">
                    <input type="text" id="description" name="description" class="form-control border border-2 border-dark w-75"
                        th:field="*{description}" placeholder="Description">
                    <div class="text-danger p-1" th:if="${#fields.hasErrors('description')}" th:text="${error}"th:errors="*{description}"></div>
                </div>
                <div class="col-2"></div>
            </div>
        </form>
    </div>
    <div class="row w-75 mx-auto mt-3 container px-0">
        <div class="col px-0">
            <p>My Transactions</p>
        </div>
    </div>
    <div class="row w-75 mx-auto container px-0">
        <div class="col px-0 border border-3 border-dark">
            <table class="table table-striped table-hover border-none border-style-none mb-0 text-center">
                <thead class="text-white">
                <tr id="head-table">
                    <td>Connections</td>
                    <td>Description</td>
                    <td>Amount</td>
                </tr>
                </thead>
                <tbody class="text-secondary">
                <tr th:if="${transactions.empty}">
                    <td colspan="3">No transaction was found!</td>
                </tr>
                <tr th:each="transaction: ${transactions}">
                        <td><span th:text="${transaction.payedUser.firstName}"></span></td>
                        <td><span th:text="${transaction.description}"></span></td>
                        <td><span th:text="${transaction.amount}"></span>€</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row w-50 mx-auto mt-3 container px-0">
        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-lg d-flex justify-content-center">
                    <li class="page-item">
                        <a class="page-link" th:if="${currentPage > 1}" th:href="@{'/home/' + ${currentPage - 1}}"aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <span class="page-link" th:unless="${currentPage > 1}">&laquo;</span>
                    </li>
                    <span th:each="i: ${#numbers.sequence(1, totalPages)}"><li class="page-item">
        <a class="page-link" th:if="${i != currentPage && i != 0}" th:href="@{'/home/' + ${i}}">[[${i}]]</a>
        <span class="page-link" th:unless="${i != currentPage }" style="color: black">[[${i}]]</span>
        </li></span>
                    <li class="page-item">
                        <a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/home/' + ${currentPage + 1}}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                        <span class="page-link" th:unless="${currentPage < totalPages}">&raquo;</span>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
        <script type="text/javascript"
                th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/modal.js}"></script>
</body>
</html>